<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>URL Shortener</title>
</head>

<body>
    <div class="container">
        <h1>URL Shortener</h1>
        <form action="/" method="post">
            <label for="url">Enter URL:</label>
            <input type="text" name="url" id="url" required>
            <button type="submit">Shorten URL</button>
        </form>
        <div class="output">
            <p>Shortened URL:</p>
            <input type="text" value="<%= shortenedUrl %>" readonly>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Original URL</th>
                    <th>Shortened URL</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(url=> { %>
                    <tr>
                        <td>
                            <%= url.originalUrl %>
                        </td>
                        <td><a href="<%= url.shortUrl %>" target="_blank">
                                <%= url.shortUrl %>
                            </a></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>